{% extends "layout.html" %}
{% block content %}
	<div class="uk-width-1-1@s">
        <div class="container">
            {% include "_messages.html" %}
            <div class="uk-width-1-1">
                <h1 style="font-family: 'Google Sans';"><span uk-icon="icon:lock"></span>&nbsp;Update your password
                </h1>
            </div>
            <form novalidate method="POST" action="" enctype="multipart/form-data" uk-grid>
                {{ form.hidden_tag() }}
                <div class="uk-width-1-2@s">
                    <div class="uk-margin">
                        {{ form.oldpassword.label(class="uk-form-label") }}
                        {{ form.oldpassword(class="uk-input",autocomplete="off") }}
                        <div>
                            {% if form.oldpassword.errors %}
                                {% for error in form.oldpassword.errors %}
                                    <span class="help-inline"><span uk-icon="icon:warning"></span>&nbsp;{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-2@s">
                    <div class="uk-margin">
                        {{ form.password.label(class="uk-form-label") }}
                        {{ form.password(class="uk-input",autocomplete="off") }}
                        <div>
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                    <span class="help-inline"><span uk-icon="icon:warning"></span>&nbsp;{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-2@s">
                    <div class="uk-margin">
                        {{ form.confirm_password.label(class="uk-form-label") }}
                        {{ form.confirm_password(class="uk-input",autocomplete="off") }}
                        <div>
                            {% if form.confirm_password.errors %}
                                {% for error in form.confirm_password.errors %}
                                    <span class="help-inline"><span uk-icon="icon:warning"></span>&nbsp;{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1">
                    <div class="uk-margin">
                      {{ form.submit(class="uk-button uk-button-danger",style="text-transform:none;") }}
                   </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}