{% extends "layout.html" %}
{% block content %}
	<div class="uk-container">
		<div class="uk-grid">
			<div class="uk-width-1-4@s">
				 
			</div>
			<div class="uk-width-1-2@s">
				<!--<img class="uk-align-center" src="{{ url_for('static',filename='account.svg') }}" height="100px" width="100px">-->
				<h1 style="font-family: 'Google Sans';">Request password reset</h1>
				{% include "_messages.html" %}
				 <form novalidate method="POST" action="">
				 	{{ form.hidden_tag() }}
				 	<div class="uk-margin">
						{{ form.email.label(class="uk-form-label") }}
						{{ form.email(class="uk-input",autocomplete="off") }}
						<div>
							{% if form.email.errors %}
								{% for error in form.email.errors %}
									<span class="help-inline"><span uk-icon="icon:warning"></span>&nbsp;{{ error }}</span>
								{% endfor %}
							{% endif %}
						</div>
					</div>
					<div class="uk-margin ">
						{{ form.submit(class="uk-button uk-button-primary",style="text-transform:none;") }}
					</div>
			 		<div class="uk-margin">
			 			<a href="{{ url_for('users.index') }}" class="uk-link" style="text-decoration: none;">Sign in instead</a>
			 		</div>
			 	
				 </form>
				
			</div>
			<div class="uk-width-1-4@s">
				
			</div>
		</div>
	</div>
{% endblock content %}