{% extends "layout.html" %}
{% block content %}
	<br>
	<div class="uk-container">
		<div class="uk-grid">
			<div class="uk-width-1-4@s">
				 
			</div>
			<div class="uk-width-1-2@s">
				<h1 class="uk-heading-primary" style="font-size:24px;font-family: 'Google Sans';">Create your account</h1>
				{% include "_messages.html" %}
				 <form novalidate method="POST" action="" uk-grid>
				 	{{ form.hidden_tag() }}
				 	<div class="uk-width-1-2@s">
						<div class="uk-margin">
							{{ form.username.label(class="uk-form-label") }}
							{{ form.username(class="uk-input",autocomplete="off") }}
							<div>
							{% if form.username.errors %}
								{% for error in form.username.errors %}
									<span class="help-inline"><span uk-icon="icon:warning"></span>&nbsp;{{ error }}</span><br>
								{% endfor %}
							{% endif %}
						</div>
						</div>
					</div>
					<div class="uk-width-1-2@s">
						<div class="uk-margin">
							{{ form.email.label(class="uk-form-label") }}
							{{ form.email(class="uk-input",autocomplete="off") }}
							<div>
							{% if form.email.errors %}
								{% for error in form.email.errors %}
									<span class="help-inline"><span uk-icon="icon:warning"></span>&nbsp;{{ error }}</span>
								{% endfor %}
							{% endif %}
						</div>
						</div>
					</div>
					<div class="uk-width-1-1">
				 		<div class="uk-margin">
				 			{{ form.phone.label(class="uk-form-label") }}
							{{ form.phone(class="uk-input",autocomplete="off") }}
							<div>
							{% if form.phone.errors %}
								{% for error in form.phone.errors %}
									<span class="help-inline"><span uk-icon="icon:warning"></span>&nbsp;{{ error }}</span>
								{% endfor %}
							{% endif %}
						</div>
				 		</div>
				 	</div>
				 	<div class="uk-width-1-2@s">
						<div class="uk-margin">
							{{ form.password.label(class="uk-form-label") }}
							{{ form.password(class="uk-input",autocomplete="off") }}
							<div>
							{% if form.password.errors %}
								{% for error in form.password.errors %}
									<span class="help-inline"><span uk-icon="icon:warning"></span>&nbsp;{{ error }}</span>
								{% endfor %}
							{% endif %}
						</div>
						</div>
					</div>
					<div class="uk-width-1-2@s">
						<div class="uk-margin">
							{{ form.confirm_password.label(class="uk-form-label") }}
							{{ form.confirm_password(class="uk-input",autocomplete="off") }}
							{% if form.confirm_password.errors %}
								{% for error in form.confirm_password.errors %}
									<span class="help-inline"><span uk-icon="icon:warning"></span>&nbsp;{{ error }}</span>
								{% endfor %}
							{% endif %}
						</div>
					</div>
					
				 	<div class="uk-width-1-2@s">
				 		<div class="uk-margin">
				 			{{ form.submit(class="uk-button uk-button-primary",style="text-transform:none;")}}
				 		</div>
				 	</div>
				 	<div class="uk-width-1-2@s">
				 		<div class="uk-margin">
				 			<a href="{{ url_for('users.index') }}" class="uk-link uk-align-right" style="text-decoration: none;">Sign in instead</a>
				 		</div>
				 	</div>
				 	
				 </form>
				
			</div>
			<div class="uk-width-1-4@s">
				
			</div>
		</div>
	</div>
{%endblock content%}