{% extends "layout.html" %}
{% block content %}
	<div class="uk-container">
		<div class="uk-grid">
			<div class="uk-width-1-3@s">
				 
			</div>
			<div class="uk-width-1-3@s">
				<!--<img class="uk-align-center" src="{{ url_for('static',filename='account.svg') }}" height="100px" width="100px">-->
				<h1 style="font-family: 'Google Sans';">Reset password</h1>
				{% include "_messages.html" %}
				 <form novalidate method="POST" action="">
				 	{{ form.hidden_tag() }}
				 	<div class="uk-margin">
						{{ form.password.label(class="uk-form-label") }}
						{{ form.password(class="uk-input",autocomplete="off") }}
						<div>
							{% if form.password.errors %}
								{% for error in form.password.errors %}
									<span class="help-inline"><span uk-icon="icon:warning"></span>&nbsp;{{ error }}</span>
								{% endfor %}
							{% endif %}
						</div>
					</div>
					<div class="uk-margin">
						{{ form.confirm_password.label(class="uk-form-label") }}
						{{ form.confirm_password(class="uk-input",autocomplete="off") }}
						<div>
							{% if form.confirm_password.errors %}
								{% for error in form.confirm_password.errors %}
									<span class="help-inline"><span uk-icon="icon:warning"></span>&nbsp;{{ error }}</span>
								{% endfor %}
							{% endif %}
						</div>
					</div>
					<div class="uk-margin">
						{{ form.submit(class="uk-button uk-button-primary",style="text-transform:none;") }}
					</div>
				 </form>
				
			</div>
			<div class="uk-width-1-3@s">
				
			</div>
		</div>
	</div>
{% endblock content %}